Limpieza inteligente de datos
Imagina que est√°s trabajando con un conjunto de datos reales sobre estudiantes, pero algunas calificaciones est√°n incompletas (aparecen como valores nulos). Tu tarea ser√° completar esos valores vac√≠os de forma inteligente, utilizando la media (promedio) de la columna como reemplazo.

‚úÖ Tu objetivo:

Implementa una funci√≥n llamada rellenar_con_media(dataframe, columna) que:

Reciba como argumentos un DataFrame de pandas y el nombre de una columna num√©rica (por ejemplo, 'calificaciones').

Calcule la media de los valores no nulos de esa columna.

Reemplace todos los valores nulos (NaN) en esa columna con la media calculada.

Devuelva el DataFrame modificado.

 

üßæ Ejemplo de uso:

data = {
    'nombre': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'edad': [20, None, 18, 25, None],
    'calificaciones': [90, 88, None, None, 95]
}
 
df = pd.DataFrame(data)
columna = 'calificaciones'
 
resultado = rellenar_con_media(df, columna)
print(resultado)


üìå Salida esperada

   nombre  edad  calificaciones
0    Alice  20.0            90.0
1      Bob   NaN            88.0
2  Charlie  18.0            91.0
3    David  25.0            91.0
4      Eve   NaN            95.0
La columna "calificaciones" debe tener sus valores NaN reemplazados por la media de las calificaciones conocidas.

In [1]:
import pandas as pd

def rellenar_con_media(dataframe, columna):
    media = dataframe[columna].mean()
    dataframe[columna] = dataframe[columna].fillna(media)
    return dataframe
datos = {'nombre':['Alice','Bob','Charlie','David','Eve'], 'edad':[20,None,18,25,None], 'calificaciones':[90,88,None,None,95]}
dataframe = pd.DataFrame(datos)
columna = 'calificaciones'
resultado = rellenar_con_media(dataframe, columna)
resultado

    nombre  edad  calificaciones
0    Alice  20.0            90.0
1      Bob   NaN            88.0
2  Charlie  18.0            91.0
3    David  25.0            91.0
4      Eve   NaN            95.0